<!--
  <header>Welcome to <%= @crm_app_name %></header>
  <nav>
    <ul>
      <li><a href='/contacts'>Home</a></li>
      <li><a href='/contacts/new'>Add a contact</a></li>
      <li><a href=''>About</a></li>
    </ul> -->
  </nav>
  <main>
    <h3 class ="contact_header"> There are <span class="number"><%=Contact.all.length%></span> contacts </h3>
    <div class ="home_contacts">
      <ul>
        <% Contact.all.each do |contact| %>
          <li class="list_contacts"><span class ="basic_contact"><%= contact.first_name %> <%= contact.last_name %> (<%=contact.email%>)</span><span class="options"><a href='/contacts/<%= contact.id%>/edit'>Edit</a> | <a href='/contacts/<%= contact.id%>'>Delete</a></span></li>
        <% end %>
      </ul>

    </div>
  </main>
  <!-- <footer>&copy; Bitmaker 2016 </footer> -->
